<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!-- <button 
                class="btn btn-primary"
                (click)="showSecret = !showSecret">Display Details</button> -->
            <button 
                class="btn btn-primary"
                (click)="onToggleDetails()">Display Details</button>
            <p *ngIf="showSecret">Secret Password = Luna</p>
            <!-- <div 
                *ngFor="let logItem of log"
                [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
                [ngClass]="{'white-text': logItem >= 5}"
                >{{ logItem }}</div> -->
            <div 
                *ngFor="let logItem of log;let i = index"
                [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
                [ngClass]="{'white-text': i >= 4}"
                >{{ logItem }}</div>
            <!-- <ng-template #noSecret>
                <p>No Secret</p>
            </ng-template> -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label>User Name</label>
            <input 
                type="text" 
                class="form-control"
                [(ngModel)]="username">
            <p>{{ username }}</p>
            <button 
                class="btn btn-primary"
                [disabled]="username === ''"
                (click)="username = ''">Reset User</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label>Server Name</label>
            <!-- <input 
                type="text" 
                class="form-control"
                (input)="onUpdateServerName($event)"> -->
            
            <input 
                type="text" 
                class="form-control"
                [(ngModel)]="serverName">
            <!-- <p>{{ serverName }}</p> -->
            <button 
                class="btn btn-primary"
                [disabled]="!allowNewServer"
                (click)="onCreateServer()">Add Server</button>
            <!--<p>{{ allowNewServer }}</p> --><!-- DataBinding: String Interpolation -->
            <!--<p [innerText]="allowNewServer"></p> --><!-- DataBinding: Property Binding -->
            <!-- <p>{{ serverCreationStatus }}</p> -->
            <p *ngIf="serverCreated; else noServer">Server was created. Server name is {{ serverName}}</p>
            <ng-template #noServer>
                <p>No server was created!</p>
            </ng-template>
        </div>
    </div>
</div>
<app-server *ngFor="let server of servers"></app-server>

