<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <h3>I am in the AppComponent!</h3>
        <hr>
        <!--  <app-servers></app-servers> --><!-- Refering element selector -->
        <!-- <div app-servers></div> --><!-- Refering attribute selector -->
        <div class="app-servers"></div><!-- Referring class selector -->
      </div>
      <div class="col-xs-12">
        <app-warningalert></app-warningalert>
      </div>
      <div class="col-xs-12">
        <app-successalert></app-successalert>
      </div>
  </div>
</div>

