<!--<p>The Server Component</p> --><!-- harcoded HTML -->
<!-- Below is how we can use DataBinding feature of Angular to get dynamic data - String Interpolation -->
<!--<p>{{ 'Server' }} with ID {{ serverId }} is {{ serverStatus }}</p>-->
<!-- We can also call methods in the String Interpolation -->
<!-- <p>{{ 'Server' }} with ID {{ serverId }} is {{ getServerStatus() }}</p> -->
<!-- We can use Attribute Directive ngStyle to style our elements as below-->
<p
 [ngStyle]="{backgroundColor: getColor()}"
 [ngClass]="{online: serverStatus === 'online'}"
 >{{ 'Server' }} with ID {{ serverId }} is {{ getServerStatus() }}
</p>